.Feed {
    display: flex;
    width: 100vw; 
    height: 100vh; 
}

.sideBar-container {
    flex-shrink: 0; 
    width: 350px; 
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.postCard-container {
    flex-grow: 1; 
    margin-left: 350px; 
    margin-right: 450px;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
}

.usersPanel-container {
    flex-shrink: 0;
    width: 450px; 
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0; 
    transition: opacity 0.5s ease, transform 0.5s ease, width 0.5s ease;
}

.usersPanel {
    width: 450px; 
    background-color: #fff;
    padding: 30px;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: translateX(0); 
    transition: opacity 0.5s ease, transform 0.5s ease, width 0.5s ease; 
}

@media (max-width: 1450px) {
    .usersPanel {
        width: 0; 
        transform: translateX(100%); 
        pointer-events: none; 
        opacity: 0; 
    }

    .usersPanel-container {
        width: 0;
        transform: translateX(100%); 
        pointer-events: none;
        opacity: 0; 
    }

    .postCard-container {
        margin-right: 0; 
    }
}

@media (max-width: 1200px) {
    .sideBar-container {
        width: 250px; 
    }

    .postCard-container {
        margin-left: 150px;
    }
}

