/* SideBar */
.sideBar-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.sideBar {
    width: 350px; 
    background-color: #fff;
    padding: 30px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease;
}

@media (max-width: 1024px) {
    .sideBar {
        width: 150px; 
    }
}

@media (max-width: 768px) {
    .sideBar {
        width: 150px; 
    }
}

.sideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sideBar ul li.logo {
    text-align: center;
    padding: 0px 0;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00cc99;
}

.sideBar ul li.logo span {
    display: block;
    color: #00cc99;
}

.sideBar ul li {
    display: flex;
    align-items: center;
    padding: 25px 0;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s ease, font-weight 0.3s ease;
    margin-bottom: 15px;
    color: #00cc99;
}

.sideBar ul li .icon {
    margin-right: 20px;
    font-size: 30px;
    transition: transform 0.3s ease;
    color: #00cc99;
}
